@model IEnumerable<CosmoTrack.Models.Review>
@using Microsoft.AspNetCore.Identity
@using CosmoTrack.Models

@inject SignInManager<ApplicationUser> signInManager
@{
    Layout = "_Layout";
}

<br />
<br />
<br />

<div class="container mt-15">
    <form class="form-inline searchBar mb-5">
        <input size="35" class="form-control mr-lg-2" type="search" placeholder="Search Reviews by Brand, Name, ingridient ect." aria-label="Search">
        <button class="btn btn-outline-secondary mr-0 ml-10 my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

@foreach (var item in Model)
{
    <div class="container mt-2 " style="width: 45rem;">
        <div class="card-deck">

            <div class="card card text-center mr-5 mb-1 row">

                <div class="card-body text-center parent col-sm">

                    <h2 class="card-header" style="background-color: #E6E6FA;">
                        @item.NickName

                        @if (signInManager.IsSignedIn(User))
                        {
                            <form asp-action="Follow">
                                <input type="hidden" name="nickName" value="@item.NickName" />
                                <button type="submit" class="btn btn-outline-secondary mt-2">Follow Reviewer</button>
                            </form>
                        }
                    </h2>

                    <h2 class="card-title mt-2">
                        @item.UserProduct.Brand
                    </h2>

                    <img src="@item.UserProduct.ImageURL" class="img-fluid imgSize" />



                    <h2 class="card-subtitle mt-2">
                        @item.UserProduct.Name
                    </h2>
                    <br />

                    <button type="button" class="btn btn-outline-secondary seeReview">See Review</button>


                </div>
                <div class="review">
                    <button type="button" class="btn btn-outline-secondary closeReview mt-1 mb-1">Close Review</button>
                    <br />
                    @if (item.VideoReviewURL != null)
                    {
                        if (item.VideoReviewURL.Contains("https://www.youtube.com/watch?v="))
                        {
                            item.VideoReviewURL = item.VideoReviewURL.Replace("https://www.youtube.com/watch?v=", "https://www.youtube.com/embed/");

                            <iframe width="560" height="315" src="@item.VideoReviewURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        }

                        if (item.VideoReviewURL.Contains("https://youtu.be/"))
                        {
                            item.VideoReviewURL = item.VideoReviewURL.Replace("https://youtu.be/", "https://www.youtube.com/embed/");

                            <iframe width="560" height="315" src="@item.VideoReviewURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        }
                    }
                    <br />
                    <p class="card-text mt-3 ">
                        @item.UserReview
                    </p>
                </div>
            </div>

        </div>


    </div>
}
