@model IEnumerable<CosmoTrack.Models.Review>
@{
    Layout = "_Layout";
}
    

        <div class="container mt-5 row">
            @foreach (var item in Model)
            {

                <div class="card-group">

                    <div class="card card text-center mr-5 mb-5" style="width: 18rem;">

                        <div class="card-body">

                            <h5 class="card-header">
                                @item.NickName
                            </h5>

                            <img src="@item.UserProduct.ImageURL" class="img-fluid" />

                            <h3 class="card-title mt-2">
                                @item.UserProduct.Brand
                            </h3>

                            <h5 class="card-subtitle mt-2">
                                @item.UserProduct.Name
                            </h5>

                            <p class="card-text mt-3">
                                @item.UserReview
                            </p>

                            @if (item.VideoReviewURL != null)
                            {
                                <a src="@item.VideoReviewURL">
                                    Video Review
                                </a>
                            }


                        </div>
                    </div>

                </div>
            }
        </div>

