@model IEnumerable<CosmoTrack.Models.Review>
@{
    Layout = "_Layout";
}


@foreach (var item in Model)
{
    <div class="container">
        <div class="row">

            <div class="col-sm">


                @if (item.ProfileImageURL != null)
                {
                    <img src="@item.ProfileImageURL" class="rounded float-right" />
                }
                <p>@item.NickName</p>

                <img src="@item.UserProduct.ImageURL" />
                <div>
                    <p>@item.Rating</p>
                </div>
                <div class="review">
                    <p>@item.UserReview</p>
                </div>
                @if (item.VideoReviewURL != null)
                {
                    <div>
                        <img href="@item.VideoReviewURL">
                    </div>
                }


            </div>
        </div>
    </div>
}
