@model IEnumerable<CosmoTrack.Models.Review>
@{
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    @if (item.ProfileImageURL != null)
    {
        <img src="@item.ProfileImageURL" />
    }

    <p>@item.NickName</p>

    <img src="@item.UserProduct.ImageURL" />

    <p>@item.Rating</p>

    <p>@item.UserReview</p>

    @if (item.VideoReviewURL != null)
    {
        <img href="@item.VideoReviewURL">
    }

}