@model IEnumerable<CosmoTrack.Models.Review>

@{
    Layout = "_Layout";

}

<br />
<br />
<br />
<br />

    <div class="card-deck col mr-15 " style="width:auto">

        <div class="card text-center mb-5" style="width:auto"

            <div class="card-body text-center mr-15 " style="width:auto">
                <table class="table">
                    <thead class="bg-dark" style="color:white;">
                        <tr>
                            <th>
                                Brand
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Public
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserProduct.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserProduct.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MakePublic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
