@model CosmoTrack.Models.ViewModels.ProfileViewModel

@{
    Layout = "_Layout";

}

<br />
<br />
<br />
<br />
<div class="container-fluid text-left">
    <div class="row content text-left">
        <div class="col-sm-2 sidenav text-left">

            <p class="text-left">You have @Model.ProductCount Products | <a asp-action="Products">Manage Products</a></p>
            @if (Model.ProductCount > 0)
            {
                <div>
                    <h3>Last Three Products Added</h3>
                    @foreach(var p in Model.Products)
                    {
                        <p>@p.Brand: @p.Name</p>
                    }
                </div>
            }
            <p class="text-left">You have @Model.ReviewsCount Product Reviews | <a asp-action="Reviews">Manage Reviews</a></p>
            @if (Model.ReviewsCount > 0)
            {
        <div>
            <h3 class="text-left">Last Three Product Reviews Added</h3>
            @foreach (var r in Model.Reviews)
            {
                <p class="text-left">@r.UserProduct.Brand: @r.UserProduct.Name  Rating: @r.Rating</p>
            }
        </div>
            }
            <p class="text-left">You have @Model.JournalEntriesCount Journal Entries | <a asp-action="Journal">Manage Journal</a></p>
            @if (Model.JournalEntriesCount > 0)
            {
        <div>
            <h3 class="text-left">Last Three Journal Entries</h3>
            @foreach (var j in Model.JournalEntries)
            {
                <p class="text-left">Date Created: @j.DateCreated Topic: @j.Topic</p>
            }
            </div>
            }
        </div>
        <div class="col-sm-8 text-center" style="background-color: white;">
            <img src="@Model.Profile.ProfileImageURL" />
            <h1 class="mt-3">Current Routine</h1>
            @Model.Profile.CurrentRegiment
            <hr>
            <form asp-action="Edit" method="get">
                <input type="hidden" name="id" value="@Model.Profile.ID" />
                <button type="submit" class="btn btn-outline-secondary">Edit Current Routine</button>
            </form>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>
