@model IEnumerable<CosmoTrack.Models.Product>
<header>
    <h1></h1>

</header>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<br />
<p>
    <a asp-action="Create">Add a Product</a>
</p>

<div class="container mt-5 row">
    @foreach (var item in Model)
    {

        <div class="card-deck col">

            <div class="card card text-center mr-5 mb-5" style="width: 18rem;">

                <div class="card-body text-center">


                    <img src="@item.ImageURL" class="img-fluid" />

                    <h3 class="card-title mt-2">
                        @item.Brand
                    </h3>

                    <h5 class="card-subtitle mt-2">
                        @item.Name
                    </h5>
                    <br />
                    <div class="crud">
                        <p><a asp-action="Edit" asp-route-id="@item.ID">Edit</a></p>
                        <p><a asp-action="Details" asp-route-id="@item.ID">Details</a></p>
                        <p><a asp-action="Delete" asp-route-id="@item.ID">Delete</a></p>
                    </div>
                </div>
            </div>

        </div>

    }
</div>


